
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 20%;
    --primary: 300 50% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 67% 97%;
    --secondary-foreground: 240 10% 20%;
    --muted: 240 67% 97%;
    --muted-foreground: 240 5% 55%;
    --accent: 240 67% 94%;
    --accent-foreground: 240 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 92%;
    --input: 240 20% 92%;
    --ring: 300 50% 65%;
    --chart-1: 300 50% 65%;
    --chart-2: 240 60% 75%;
    --chart-3: 330 50% 70%;
    --chart-4: 270 50% 68%;
    --chart-5: 315 50% 68%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 20%;
    --sidebar-primary: 300 50% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 67% 94%;
    --sidebar-accent-foreground: 240 10% 20%;
    --sidebar-border: 240 20% 92%;
    --sidebar-ring: 300 50% 65%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 50% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 10% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 300 50% 65%;
    --chart-1: 300 50% 65%;
    --chart-2: 240 60% 75%;
    --chart-3: 330 50% 70%;
    --chart-4: 270 50% 68%;
    --chart-5: 315 50% 68%;
    --sidebar-background: 240 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 300 50% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 20%;
    --sidebar-ring: 300 50% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
